* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 3px solid black;
}

nav:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.nav-links {
    display: flex;
    width: 15%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav > a,
.nav-links > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.cart-align {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart-number {
    padding: 0 10px;
    height: 40px;
    background: black;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-weight: bold;
}
.cart-number:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 12px 6px 0;
    border-color: transparent #000000 transparent transparent;
}

.logo {
    font-size: 3rem;
}

li.active-nav {
    height: 70px;
    display: flex;
    align-items: center;
}

.active-nav {
    position: relative;
    padding: 15px 10px;
}

.active-nav::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000000;
    left: 0;
    bottom: 5px;
    transform: scale(0, 1);
    transition: transform 0.25s ease;
}

.active-nav:hover::before {
    transform: scale(1, 1);
}

.active-nav-class {
    position: relative;
}

.active-nav-class::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000000;
    left: 0;
    bottom: 5px;
}

/* Main */
.main-flex {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Home page */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page > img {
    width: 100%;
    height: auto;
}

.home-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
}

.home-text > div {
    font-size: 3rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

.home-text-button {
    height: 75px;
    width: 300px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.home-text-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
}

/* Radio Button */
.img-sel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    top: 50%;
    left: 95%;
}

input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

/* Cart */

.cart > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px;
    border-bottom: 1px solid black;
}

.cart-item-image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-title {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.cart-item-price {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.cart-item-quantity {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-quantity > input {
    text-align: center;
    height: 50px;
    width: 150px;
    border: none;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
    font-size: 1rem;
}

.cart-decrease {
    height: 50px;
    width: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(150, 150, 150);
}

.cart-decrease:hover {
    cursor: pointer;
    background-color: rgb(125, 125, 125);
}

.cart-increase {
    height: 50px;
    width: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(167, 233, 255);
}

.cart-increase:hover {
    cursor: pointer;
    background-color: rgb(130, 224, 255);
}

.cart-item-button {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item-button > button {
    height: 50px;
    width: 150px;
    border: none;
    background-color: pink;
    font-size: 1rem;
    font-weight: bold;
}

.cart-item-button > button:hover {
    cursor: pointer;
    background-color: rgb(255, 167, 181);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Shop */
.shop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 75%;
    padding: 50px 0;
}

/* Shop Item */
.shop-item {
    border: 1px solid rgb(225, 225, 225);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.shop-item-brand {
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 10px;
}

.shop-item-price {
    font-weight: bold;
    font-size: 2rem;
}

.shop-item-button {
    height: 40px;
    width: 250px;
    margin-bottom: 20px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
}

.shop-item-button:hover {
    cursor: pointer;
    background-color: rgb(50, 50, 50);
}

/* Item Page */
.item-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Footer */
footer {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

footer > span > a {
    color: white;
}
