* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Nav Bar */
nav {
    flex: 0 0 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    color: white;
    position: sticky;
    top: 0;
}

.nav-links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav > a,
.nav-links > a {
    color: white;
    text-decoration: none;
}

/* Main */
.main-flex {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Cart */
.cart > div {
    display: flex;
    align-items: center;
}

/* Shop */
.shop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* Shop Item */
.shop-item {
    border: 1px solid grey;
    margin: 10px;
}

/* Item Page */
.item-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.item-page > img {
}

/* Footer */
footer {
    flex: 0 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
}

footer > span > a {
    color: white;
}
